[run]
source = drf_yasg
branch = True
parallel = true
disable_warnings = module-not-measured

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self/.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise ImproperlyConfigured
    raise TypeError
    raise NotImplementedError
    warnings.warn
    logger.debug
    logger.info
    logger.warning
    logger.error
    return NotHandled

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    # Don't complain if we don't hit invalid schema configurations
    raise SwaggerGenerationError

ignore_errors = True
precision = 2
show_missing = True

[paths]
source =
    src/drf_yasg/
    .tox/*/Lib/site-packages/drf_yasg/
    .tox/*/lib/*/site-packages/drf_yasg/
    /home/travis/virtualenv/*/lib/*/site-packages/drf_yasg/
