\__pycache__/
__pypackages__/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.c9/
.cache
.classpath
.coverage
.coverage.*
.dmypy.json
.DS_Store
.eggs/
.env
.history/*
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.project
.pyre/
.pytest_cache/
.Python
.python-version
.ropeproject
.sass-cache/
.scrapy
.settings/
.spyderproject
.spyproject
.test_report.*
.tox/
.venv
.vscode/*
.webassets-cache
*.cover
*.egg
*.egg-info/
*.launch
*.log
*.manifest
*.mo
*.pot
*.py,cover
*.py[cod]
*.sage.py
*.so
*.spec
*.sublime-workspace
*$py.class
bazel-out/
build/
celerybeat-schedule/
celerybeat.pid
chrome-profiler-events*.json
connect.lock
coverage.xml
coverage/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
ENV/
htmlcov/
instance/
ipython_config.py
lib/
lib64/
libpeerconnection.log
local_settings.py
MANIFEST.*
node_modules/
nosetests.xml
npm-debug.log
out-tsc/
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
profile_default/
sdist/
share/python-wheels/
site/
speed-measure-plugin*.json
target/
testem.log
Thumbs.db
tmp/
typings/
var/
venv.bak/
venv/
wheels/
yarn-error.log
