.DS_Store
.idea_modules/
.idea/
.ropeproject
.spyderproject
.spyproject
*.iws
atlassian-ide-plugin.xml
out/

__pycache__/
.mypy_cache/
.Python
.python-version
*.py[cod]
*.pyc
*.so
*$py.class
/site

.eggs/
.installed.cfg
*.egg
*.egg-info/
*.manifest
*.spec
build/
cmake-build-debug/
develop-eggs/
dist/
downloads/
eggs/
generated/
lib/
lib64/
MANIFEST
output/
outputs/
parts/
sdist/
target/
var/
wheels/

node_modules/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/

.cache
.coverage
.coverage.*
.hypothesis/
.pytest_cache/
.tox/
*.cover
*.coverage
coverage.xml
coverage/
htmlcov/
nosetests.xml

.env
.venv
*.env
*.env.*
env.bak/
env/
ENV/
venv.bak/
venv/

docs/_build/
docs/.doctrees/

.media/
.static_storage/
.webassets-cache
instance/
local_settings.py

testproj/db.sqlite3
testproj/staticfiles

.ipynb_checkpoints
.scrapy
.terraform/
*.sage.py
celerybeat-schedule

*.log
*.mo
*.pot

com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties

*.dblite
*.o
*.tmp
*.types
*.zip
